
<div class="header--mobile">
    <div class="row"><div class="columns clearfix">
      <div class="float-left">
        <a class="header--mobile__domain" href="/" target="_self">
            <div style="font-weight: bolder; height:100%; padding:5px; margin-top: 10px;">STEM AI ED</div>
            <!--
            <img class="nav__logo" src="{{ ctx.setting.get('ui-default.nav_logo_dark') }}">
            -->
        </a>
      </div>
      <div class="float-right">
        {% include "partials/hamburger.html" %}
      </div>
    </div></div>
  </div>
  